
<ion-content>
  <ion-grid class="container">
    <ion-card>
      <ion-card-title>{{ manager.title }}</ion-card-title>
      <ion-card-subtitle>method: <span>{{ manager.method }}</span></ion-card-subtitle>
    </ion-card>
    <h3>{{ manager.message }}</h3>
    <img *ngIf="manager.example" [src]="manager.example"/>
    <h5 *ngIf="manager.message2">{{ manager.message2 }}</h5>
    <img *ngIf="manager.example2" [src]="manager.example2"/>
    <img *ngIf="manager.example3" [src]="manager.example3" class="ion-margin-top"/>
    <h4 *ngIf="manager.message3">{{ manager.message3 }}</h4>
    <ion-row *ngIf="manager.type === 'Title'"class="btn-row" (click)="toggleTitle()">
      <ion-button color="primary">
        <ion-label>Toggle Title</ion-label>
      </ion-button>
    </ion-row>
    <ion-row *ngIf="manager.type === 'Color'"class="btn-row" (click)="toggleColor()">
      <ion-button color="primary">
        <ion-label>Toggle Color</ion-label>
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
